/*the code below is from the example github*/

.jb-body {
    /*
    background-image: url ("https://www.istockphoto.com/photo/to-do-list-text-on-notepad-gm1285308242-382184795");
    */
    background-color: rgb(239, 193, 113);
}
.bt-body {
    background-color: rgb(23, 95, 228);
    color: white;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.google-btn:hover {
  background: #f7f7f7;
}

.google-icon {
  width: 22px;
  height: 22px;
}

.divider {
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
  color: #888;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}
