# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - WishCloud

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install backend dependencies
        run: | 
          npm install

      - name: Install Angular dependencies
        run: |
          cd wishcloud-angular
          npm install
          
      - name: Build Angular frontend
        working-directory: wishcloud-angular
        run: |
          npx ng build --configuration production --output-path=../dist/angular

      # - name: Copy Angular build to root /dist/angular
        # run: |
          # mkdir -p dist/angular
          # cp -r dist/angular/* dist/angular/
          
      - name: Build backend
        run: |
          npm run build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            dist/
            wishcloud-angular/dist/wishcloud-angular/
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_11142AD7B95C46B79626C1FC11DD4F33 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0773D2ABFBB74999B24F7889D5C1BB31 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DE5520F4621C48548767D7C44A7FFFC0 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'WishCloud'
          slot-name: 'Production'
          package: .

          


